body {
    font-family: Arial, sans-serif;
    background-color: #46b929d2;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: rgb(0, 0, 0);
    padding: 30px;
    border: 10px solid #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(249, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #ffffff;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

input {
    flex-grow: 1;
    padding: 8px;
    border: 8px solid #2da424;
    border-radius: 10px;
}

button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #ffffff;
    border: 8px solid #2da424;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

li:hover {
    background: #1b1818;
    color: #ff0202;
}
li.feita {
    text-decoration: line-through;
    color: rgb(255, 0, 0);
}

